/* ------------ preser start ------------ */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
  
a {
    text-decoration: none;

}

/* ------------- grid ------------- */
 
.row {
    display: flex;
    flex-wrap: wrap;
}

[class^="col"] {
    padding: 15px;
}

.t-center {
    text-align: center;
}

.col-12 {
    flex: 0 0 calc(100% / 12 * 12);
}

@media (min-width: 480px) {             /* 對應 container 中區塊 */
    .fixed-width {
        width: 480px;
    }
    .col-sm-6 {
        flex: 0 0 calc(100% / 12 * 6);
    }
}

@media (min-width: 768px) {             /* 分割 contact 中區塊 */
    .fixed-width {
        width: 768px;
    }
    .col-md-6 {
        flex: 0 0 calc(100% / 12 * 6);
    }
}

@media (min-width: 1200px) {
    .fixed-width {
        width: 1200px;
    }
    .col-lg-3 {
        flex: 0 0 calc(100% / 12 * 3);
    }
}

/* ------------------------------------ */

.full-width {
    width: 100%;
}

.fixed-width {
    width: 1024px;
    margin: auto;
}

.fixed-width-sm {                         /* 對應 container 中區塊 */
    width: 480px;
    margin: auto;
}

.clearfix::after { 
    display: block;
    content: ""; 
    clear: both;
}

/* ------------ nav start ------------ */

#nav {
    background-color: #000;
    height: 58;
    position: fixed;
    z-index: 999;
}

#nav .logo {
    width: 210px;
    height: 58px;
    background: url('../images/Logo.png');
    float: left; 
}

#nav .row{
    justify-content: space-between;
}

#nav .menu {
    float: right;
}

#nav .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav .menu li {
    float: left;
    line-height: 58px;             /* 行高...對應 nav */
    margin-left: 50px;             /* 字距...對應 nav a */
}

#nav .menu a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    transition: color 0.2s;
    letter-spacing: 1px;           /* 字母間距...對應 nav li */
}

    #nav .menu a:hover {
        color: rgb(187, 127, 127);
        transition: color 0.2s;
    }
            
/* ---------- header start ---------- */

header {
    background: #fdd url('../images/banner_camera.png') center center no-repeat;
    background-size: cover;
    /* background-attachment: fixed;        背景-附件：固定； */
}

header .row {
    height: 100vh;
    align-items: center;
    width: 100%;
}

/* ---------- recommend start ---------- */

#recommend {
    background-color: rgb(187, 127, 127);
    padding: 140px 0;
    text-align: center;
}

#recommend h2 {
    font-size: 2rem;
    color:#fff;
}

#recommend p {
    margin: 36px 0;
    line-height: 28px;
    font-size: 1.05rem;
    color:#fff;
    letter-spacing: 1px;
}

#recommend .btnView {
    background-color: rgb(187, 127, 127);
    color: #fff;
    display: inline-block;
    padding: 12px 25px;
    border-radius: 10px;
    font-size: 22px;
    border: 1px solid #ffffff	;
    text-decoration: none;
    margin-top: 5px;
}

    #recommend .btnView:hover {
        background-color: rgb(255, 80, 80);
        color: #fff;
    }

/* ---------- function start ---------- */

#function {
    padding: 155px 0;
    width: 100%;
    margin: auto; 
    text-align: center;
}

#function .row {
    display: flex;
    flex-wrap: wrap;
}

#function h2 { 
    margin-bottom: 50px;
    font-size: 2.5rem;                /* 對應 function padding 調整 */
}

#function h3 {
    margin: 18px 0 22px 0;
    font-size: 1.5rem;                /* 對應 function padding 調整 */
}

#function p {
    color:rgb(177, 117, 117);
    line-height: 22px;
    font-size: 1.05rem;
    letter-spacing: 1px;;
}

/* ---------- container start ---------- */
/* ---------- contact start ------------ */

.container {
    background-color: rgb(105, 105, 105);
    /* border-top: 1px solid rgb(151, 151, 151); */
    position: relative; 
}

.container .no-padding > [class^="col"] {
    padding: 0!important;                       /* Camera 圖片貼緊 */
}

.container #model{ 
    background-color: rgb(255, 80, 80);
    position: flex;
    text-align: center;
}

.container h2 { 
    padding: 10px 0; 
    font-size: 36px; 
}

.container #model .box {
    position: relative;
}

.container #model .box img {
    width: 100%;
}

.container #model .box .content {
    background-color: rgba(255, 83, 83, 0.95);
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;                                 /* 覆蓋超出...將 bottom 設零 */
    /* https://www.w3schools.com/cssref/css3_pr_flex-direction.asp */
    /* https://wcc723.github.io/css/2017/07/21/css-flex/ */
    display: flex;
    flex-direction: column;                    /* /* 彈性-方向：列...對應 display */
    align-items: center;                       /* 對應 flex-direction */
    justify-content: center;                   /* 對應 flex-direction */
    opacity: 0;
    transition: .3s;
}
    .container #model .box:hover .content {
        opacity: 0.8;
    }
    
.container #model .content .typeView h3 {
    color: #000;
    text-align: center;
    padding-bottom: 5px;
    font-size: 2rem;
}

.container #model .content .typeView p {
    color: #000;
    font-size: 1.1rem;
    font-weight: 500;
}


/* ---------- contact start ------------ */

#contact {
    background-color: #fff;
    margin: 80px 0 80px 0;
}

#contact .row {
    align-items: center;                      /* 區塊內 col-6*2 垂直對齊 */
    display: flex;
    flex-wrap: wrap;
}

#contact h2 {
    font-size: 36px;
    margin-bottom: 70px;
}

    #contact h2::after {
        content:"";
        border-bottom: 4px solid #000;      /* 加入下底線 */
        display: block;
        width: 22%;
        margin: 8px auto;
    }

#contact .form-group {
    padding-bottom: 10px;
}

#contact .form-group #comment {
    height: 150px;
}

#contact .form-control {
    width: 100%;
    border: 1px solid #ccc;
    padding: 8px 15px;
    border-radius: 5px;
    outline: 0;                                 /* 表格外框線：0 */
    transition: .5s;
}

#contact .form-control:focus {              /* 點選外框反應 */
    border-color: rgb(255, 50, 50);
}

#contact .btnSubmit {
    background-color: rgb(255, 80, 80);
    color: #fff;
    display: inline-block;
    padding: 8px 35px;
    border-radius: 10px;
    text-decoration: none;
}

    #contact .btnSubmit:hover {
        background-color: rgb(255, 255, 255);
        border: 1px solid rgb(255, 80, 80);
        color: rgb(255, 80, 80);
    }
    
/* ------------- footer start ------------- */

footer {
    line-height: 18px;
    background-color: rgb(128, 88, 88);
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #fff;
    margin: 0 20px;
    font-size: 1rem;
}
  
  