/* ------------ preser start ------------ */

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
  
a {
    text-decoration: none;

}

/* ------------- grid ------------- */
 
.row {
    display: flex;
    flex-wrap: wrap;
}

[class^="col"] {
    padding: 15px;
}

.t-center {
    text-align: center;
}

.col-12 {
    flex: 0 0 calc(100% / 12 * 12);
}

@media (min-width: 768px) {
    .fixed-width {
        width: 768px;
    }
    .col-md-6 {
        flex: 0 0 calc(100% / 12 * 6);
    }
}

@media (min-width: 1200px) {
    .fixed-width {
        width: 1200px;
    }
    .col-lg-3 {
        flex: 0 0 calc(100% / 12 * 3);
    }
}

/* ------------------------------------ */

.full-width {
    width: 100%;
}

.fixed-width {
    width: 1024px;
    margin: auto;
}

.clearfix::after { 
    display: block;
    content: ""; 
    clear: both;
}

/* ------------ nav start ------------ */

#nav {
    background-color: #000;
    height: 58;
    position: fixed;
    z-index: 999;
}

#nav .logo {
    width: 210px;
    height: 58px;
    background: url('../images/Logo.png');
    float: left; 
}

#nav .row{
    justify-content: space-between;
}

#nav .menu {
    float: right;
}

#nav .menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#nav .menu li {
    float: left;
    line-height: 58px;             /* 行高...對應 nav */
    margin-left: 50px;             /* 字距...對應 nav a */
}

#nav .menu a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    transition: color 0.2s;
    letter-spacing: 1px;           /* 字母間距...對應 nav li */
}

    #nav .menu a:hover {
        color: rgb(187, 127, 127);
        transition: color 0.2s;
    }
            
/* ---------- header start ---------- */

header {
    background: #fdd url('../images/photo_banner.jpg') center center no-repeat;
    background-size: cover;
    /* background-attachment: fixed;        背景-附件：固定； */
}

header .row {
    height: 100vh;
    align-items: center;
}

header .depiction {
    vertical-align: bottom;
    padding-top: 780px;
} 

header p {
    color: #ccc;
    letter-spacing: 1px;
    margin: auto;
    font-size: 1.1rem;
    font-style: italic ;
    text-shadow: 0 0 0.2em rgb(98, 85, 180), 0 0 0.2em rgb(98, 85, 180);
}

/* ---------- Foreign platform start ---------- */

.foreign {
    margin-top: 180px;
    border-bottom: 2px dashed rgb(88, 88, 88);
}

.foreign .fixed-width {
    background-color: #fff;
    width: 1500px;
    height: 580px;
    text-align: center;
}

.foreign h2 {
    color: rgb(51, 51, 51);
    font-size: 2.2rem;
}

.foreign .item {
    margin: 60px auto;

}

.foreign .item div {
    width: calc(33.3% - 1px);              /* item 內項目各33% - border 1px*/
    float: left;
    padding: 40px 0 10px 2px;
    border-right: 1px solid #aaa;
}
    
    .foreign .item div:nth-child(3) {             /* 最後一個不加 border 線條 */
        border-right-width: 0;
    }

.foreign img {
    display: block;
    border: 1px solid rgb(88, 88, 88);
    width: 80px;
    line-height: 80px;
    border-radius: 50%;
    margin: auto;
    font-size: 2rem;
}
			
    .foreign .item div:nth-child(1) img {
        color: #abc99d;
    }

    .foreign .item div:nth-child(2) img {
        color: #079cba;
    }
    
    .foreign .item div:nth-child(3) img {
        color: #aa0c7b;
    }

.foreign h3 {
    font-size: 1.8rem;
    padding: 40px 0;
}

.foreign p {
    line-height: 20px;;
    font-size: 1.2rem;
}

/* ---------- Photography start ---------- */

#Photography {
    background-color: rgb(255, 255, 255);;
    padding: 80px 0;
    text-align: center;
}

#Photography .gallery #option{
    display: block;
    text-align: center;
    margin: auto 40px;
}

#Photography .gallery #option h1 {
    float: left;
    font-size: 2.4rem;
    color: rgb(88, 88, 88);
}

#Photography .gallery #option ul {
    list-style: none;
    padding-top: 5px;                             /* 對應 h1 保持水平 */
}

#Photography .gallery #option li {
    float: right;
    line-height: 30px;             /* 行高...對應 nav */
    margin-left: 20px;             /* 字距...對應 nav a */
}

#Photography .gallery #option a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    letter-spacing: 1px;           /* 字母間距...對應 nav li */
}

#Photography #option .tabBtn li .button {
    display: inline-block;
    border-radius: 12px;
    text-decoration: none;
    color: #000;
    padding: 0 25px;
    background-color: rgb(255,255,255,.8);
    border: 3px solid rgb(100, 100, 100);
    transition: .3s;
    font-weight: bold;
}

    #Photography #option .tabBtn li .button:hover {
        color: #000;
        background-color:rgba(190, 190, 190, 0.5);
        border: 3px solid rgb(88, 88, 88);
    }

/* https://www.w3schools.com/cssref/css3_pr_animation-keyframes.asp */

@keyframes gallery {
    100% {
        opacity: 1;		}
}

.gallery {
    padding: 3.5em;
    position: relative;
    overflow: hidden;
    min-height: 37em;
}

.gallery .content {
    margin-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.gallery .content .media {
    animation: gallery 0.75s ease-out 0.4s forwards;
    overflow: hidden;
    opacity: 0;
    position: relative;
    width: 25%;
}

.gallery .content .media a {
    display: block;
}

.gallery .content .media img {
    transition: transform 0.4s ease-in-out;  /* 緩入秒數對應 hover 放大效果 */
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

/* https://www.itread01.com/p/668799.html */
.gallery .content .media:hover img {
    transform: scale(1.2);
}

/* ------------- footer start ------------- */

footer {
    line-height: 18px;
    background-color: rgb(128, 88, 88);
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #fff;
    margin: 0 20px;
    font-size: 1rem;
}
  
  